@import url('./console-theme.css');

* {
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 16px;
}

html,
body {
  background-color: var(--secondary-background-color);
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 16px;
  user-select: none;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

header {
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--api-console-toolbar-background-color, #212121);
  color: var(--api-console-toolbar-color, #fff);
}

header.tall {
  height: 128px;
  align-items: flex-end;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  background: var(--secondary-background-color, #ffffff);
  height: 100%;
  overflow: auto;
  padding: 0px 24px;
  margin: 40px 0;
}

aside {
  margin-left: 40px;
  width: 40%;
  overflow: hidden;
  position: relative;
  border: 1px #e5e5e5 solid;
}

.format-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.button-group {
  margin-right: 20px;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  border: 1px #e5e5e5 solid;
}

.button-group anypoint-button {
  margin: 0;
}

.editing-area {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.api-console {
  position: relative;
  /* padding: 40px 24px 24px 24px; */
  overflow: auto;
  height: 100%;
}

.loading-progress {
  position: absolute;
  right: 1px;
  left: 1px;
  width: auto;
  top: 0;
}

.api-doc-toolbar {
  height: 48px;
  background: #e1f5fe;
  display: flex;
  align-items: center;
  padding: 0 12px;
  box-sizing: border-box;
}

.navigation {
  width: 360px;
  position: absolute;
  background-color: #fff;
  z-index: 2;
  top: 0px;
  bottom: 0;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  overflow: auto;
  transform: translateX(calc(-100% - 32px));
  transition: transform 0.24s cubic-bezier(0.42, 0, 0.57, 0.97);
}

.navigation.opened {
  transform: translateX(0);
}

api-documentation {
  padding: 12px;
}
