* {
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 16px;
}

html,
body {
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 16px;
  user-select: none;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

h2 {
  font-size: var(--theme-h2-font-size, 56px);
  font-weight: var(--theme-h2-font-weight, 200);
  color: var(--theme-h1-color, currentColor);
}

h2.title {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
}

header {
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--api-console-toolbar-background-color, #212121);
  color: var(--api-console-toolbar-color, #fff);
}

header.tall {
  height: 128px;
  align-items: flex-end;
}

nav {
  background-color: var(--api-navigation-background-color, #fff);
  color: var(--api-navigation-color, initial);
  display: flex;
  flex-direction: column;
  border-right: 1px #e5e5e5 solid;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--secondary-background-color, #ffffff);
  height: 100%;
  overflow: auto;
  padding: 00px 24px;
  margin: 40px 0;
}

.menu-divider {
  margin: 8px 0;
  height: 1px;
  background-color: var(--api-divider-color);
}

.page {
  flex: 1;
}

.header-menu {
  margin-left: auto;
}

.title-line {
  padding: 60px 0;
  margin: 0;
  text-align: center;
}

.title-line h2 {
  font-size: var(--theme-h2-font-size, 56px);
  font-weight: var(--theme-h2-font-weight, 200);
  color: var(--theme-h1-color, currentColor);
}

.api-selector .api-list {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.app-loader {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

api-navigation {
  flex: 1;
  width: 256px;
}

api-documentation {
  max-width: 1900px;
}

body {
  color: #000;
  --error-color: red;
  --primary-text-color: #000;
  --primary-color: #e91e63;
  --primary-background-color: #ffffff;
  --dark-divider-opacity: 0.12;
  --api-divider-color: #e5e5e5;
  --anypoint-button-emphasis-high-background-color: var(--accent-color);
  --anypoint-dropdown-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);

  --arc-font-body1-font-size: 1rem;
  --code-font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace;

  /* HTTP method colors */
  --http-get-color: #008000;
  --http-post-color: #2196F3;
  --http-put-color: #FFA500;
  --http-patch-color: #9C27B0;
  --http-delete-color: #F44336;
  --http-options-color: rgba(128, 128, 128, 0.74);
  --http-head-color: rgba(128, 128, 128, 0.74);
  --http-connect-color: rgba(128, 128, 128, 0.74);
  --http-trace-color: rgba(128, 128, 128, 0.74);
  --http-method-label-get-background-color: var(--http-get-color);
  --http-method-label-get-color: #fff;
  --http-method-label-post-background-color: var(--http-post-color);
  --http-method-label-post-color: #fff;
  --http-method-label-put-background-color: var(--http-put-color);
  --http-method-label-put-color: #000;
  --http-method-label-delete-background-color: var(--http-delete-color);
  --http-method-label-delete-color: #fff;
  --http-method-label-options-background-color: var(--http-options-color);
  --http-method-label-options-background-color: var(--primary-text-color);
  --http-method-label-head-background-color: var(--http-head-color);
  --http-method-label-head-color: var(--primary-text-color);
  --http-method-label-patch-background-color: var(--http-patch-color);
  --http-method-label-patch-color: #fff;

  --anypoint-tabs-selection-bar-color: var(--primary-color);

  --api-navigation-list-item-selected-background-color: #e8e9ea;
  --api-navigation-list-item-selected-color: #000;

  --code-background-color: #f5f7f9;
}

@media (prefers-color-scheme: dark) {
  body {
    --primary-color: #ffcc80;
    --primary-text-color: #fff;
    --accent-color: #E040FB;
    --secondary-text-color: rgba(255, 255, 255, 0.84);
    --primary-background-color: #424242;
    --secondary-background-color: #313131;
    --error-color: #ff9090;
    --error-message-color: var(--error-color);
    --link-color: #8bc34a;
    --input-background-color: var(--primary-background-color);
    --active-background-color: #616161;

    --anypoint-checkbox-label-color:  #F5F5F5;
    --anypoint-input-background-color: var(--input-background-color);
    --anypoint-input-label-color: var(--primary-text-color);
    --anypoint-input-input-color: var(--primary-text-color);
    --anypoint-input-border-bottom-color: var(--primary-text-color);
    --anypoint-input-focused-border-bottom-color: var(--primary-text-color);
    --anypoint-input-label-background-color: rgb(66, 66, 66);
    --anypoint-input-legacy-focus-background-color: #3a3b3c;
    --anypoint-input-legacy-focus-border-color: #178bea;
    --anypoint-input-info-message-color: var(--primary-text-color);

    --anypoint-dropdown-menu-background-color: #494949;
    --anypoint-dropdown-menu-label-background-color: var(--primary-background-color);
    --anypoint-listbox-background-color: #494949;
    --anypoint-dropdown-menu-focus-background-color: #9E9E9E;
    --anypoint-dropdown-menu-label-color: #fff;
    --anypoint-dropdown-menu-info-message-color: #fff;
    --anypoint-item-hover-background-color: #9E9E9E;
    --anypoint-item-focused-background-color: var(--primary-background-color);
    --anypoint-icon-button-emphasis-low-color: #fff;

    /* HTTP method colors */
    --http-get-color: #c6f68d;
    --http-post-color: #b39afd;
    --http-put-color: #ffc77d;
    --http-patch-color: #f186c0;
    --http-delete-color: #FF5252;
    --http-options-color: rgba(128, 128, 128, 0.74);
    --http-head-color: rgba(128, 128, 128, 0.74);
    --http-connect-color: rgba(128, 128, 128, 0.74);
    --http-trace-color: rgba(128, 128, 128, 0.74);
    --http-method-label-get-background-color: var(--http-get-color);
    --http-method-label-get-color: #000;
    --http-method-label-post-background-color: var(--http-post-color);
    --http-method-label-post-color: #000;
    --http-method-label-put-background-color: var(--http-put-color);
    --http-method-label-put-color: #000;
    --http-method-label-delete-background-color: var(--http-delete-color);
    --http-method-label-delete-color: #000;
    --http-method-label-options-background-color: var(--http-options-color);
    --http-method-label-options-background-color: var(--primary-text-color);
    --http-method-label-head-background-color: var(--http-head-color);
    --http-method-label-head-color: var(--primary-text-color);
    --http-method-label-patch-background-color: var(--http-patch-color);
    --http-method-label-patch-color: #000;

    --operation-params-title-color: var(--primary-text-color);
    --operation-subheader-color: var(--secondary-text-color);
    --operation-description-color: var(--secondary-text-color);

    --resource-subheader-color: var(--secondary-text-color);
    --security-subheader-color: var(--secondary-text-color);
    --pill-color: #000;

    --markdown-styles-code-text-shadow: none;
    --markdown-styles-h6-color: var(--secondary-text-color);
    --markdown-styles-table-row-background-color: var(--primary-background-color);
    --markdown-styles-table-even-row-background-color: var(--secondary-background-color);

    --code-color: var(--primary-text-color);
    --code-background-color: #202020;
    --code-punctuation-value-color: var(--code-color);

    --api-annotation-document-color: var(--primary-text-color);
    --api-annotation-background-color: var(--primary-background-color);
    --api-body-document-description-color: var(--primary-text-color);

    --api-endpoint-url-background-color: var(--primary-background-color);
    --api-endpoint-url-color: var(--primary-text-color);

    --http-code-snippet-code-text-shadow: var(--primary-text-color);
    --http-code-snippet-container-background-color: var(--code-background-color);
    --http-code-snippet-code-function-color: #82AAFF;
    --http-code-snippet-code-keyword-color: #C792EA;
    --http-code-snippet-code-cdata-color: #adb9c5;

    --resource-tryit-background-color: var(--code-background-color);
    --resource-tryit-panels-background-color: transparent;
    --error-message-icon-color: #cccccc;
    --error-message-code-color: var(--secondary-text-color); 

    --auth-method-oauth2-redirect-info-color: #fff;

    --inline-documentation-background-color: #3a3a3a;
  }
}
